cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
pdfminer==20191125
pdfminer.six==20221105
pdfplumber==0.10.3
Pillow==10.1.0
pycparser==2.21
pycryptodome==3.19.0
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
PyPDF2==3.0.1
pypdfium2==4.24.0
